<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>931355605258-ijjl2cfnolks33ajb1e2f4deasegk6lh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.931355605258-ijjl2cfnolks33ajb1e2f4deasegk6lh</string>
	<key>API_KEY</key>
	<string>AIzaSyCIvCjYtAQDEq7MpCfPepHs8NOZbKn1UYY</string>
	<key>GCM_SENDER_ID</key>
	<string>931355605258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Cho.Mobo-iOS</string>
	<key>PROJECT_ID</key>
	<string>chotalk-65363</string>
	<key>STORAGE_BUCKET</key>
	<string>chotalk-65363.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:931355605258:ios:67ed2a6563a4c5452e62f3</string>
	<key>DATABASE_URL</key>
	<string>https://chotalk-65363.firebaseio.com</string>
</dict>
</plist>